//Mixins for responsive behaviour

@mixin breakpoint-custom-down($max) {
  @media all and (max-width: $max) {
    @content;
  }
}

@mixin breakpoint-sm-down {
  @include breakpoint-custom-down($screen-sm-min) {
    @content;
  }
}

@mixin breakpoint-ml-down {
  @include breakpoint-custom-down($screen-ml-min) {
    @content;
  }
}

@mixin breakpoint-lg-down {
  @include breakpoint-custom-down($screen-lg-min) {
    @content;
  }
}

@mixin large-container {
  max-width: $screen-xxl-min;
  padding: 0 1rem;
  margin: auto;
}

@mixin medium-container {
  max-width: $screen-md-min;
  padding: 0 1rem;
  margin: auto;
}

@mixin small-container {
  max-width: $screen-sm-min;
  padding: 0 1rem;
  margin: auto;
}