// screen sizes

$screen-xs-min: 32rem;
$screen-sm-min: 46rem;
$screen-md-min: 52rem;
$screen-lg-min: 62rem;
$screen-xl-min: 73.25rem;
$screen-xxl-min: 90rem;

$screen-height: (
  min-height: 52rem,
);