// screen sizes

$screen-xs-min: 32rem;
$screen-sm-min: 46rem;
$screen-md-min: 52rem;
$screen-ml-min: 62rem;
$screen-lg-min: 74rem;
$screen-xl-min: 86rem;
$screen-xxl-min: 110rem;

$screen-height: (
  min-height: 52rem,
);