html {
    background-color: #342E2D;
}

.page-container {
    background-color: #342E2D;
    width: 100%;
    height: 100vh;

    &__wrapper {
        margin: auto;
        padding: 1rem 0;
        width: 90%;
        height: 90vh;
    }
}

.header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fafafa;

    &__logo-title-wrapper{
        margin: 0 2rem;
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    &__logo {
        margin: 1rem;
        width: 4rem;
        height: 4rem;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        &:hover {
            transform: rotate(360deg);
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
        }
    }
    &__title {
        font-size: 1.875rem;
        font-family: 'Gotham', sans-serif;
        text-decoration: none;
    }

    &__header-menu-wrapper {
        width: 30%;
    }
    &__header-menu {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.25rem;
        list-style-type: none;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fafafa;
        
    }
    &__menu-items {
        color: #fafafa;
        border: none;
        background: none;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.25rem;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;

        &:hover {
            color: #d89026;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
        }
    }
    &__menu-items a{
        color:#fafafa;
        text-decoration: none;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;

        &:hover {
            color: #d89026;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
        }
    }
    &__header-accordion {
        
    }
}

.content {
    width: 75%;
    height: 75%;
    margin: auto;
    border-radius: 0.5rem;
    color: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__header {
        font-size: 3rem;
        font-family: 'Montserrat 600', sans-serif;
        padding-top: 4rem;
    }
    &__content {
        padding: 3rem 5rem 2rem 5rem;
        text-align: center;
        font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
        font-size: 1rem;
    }
    &__quote {
        font-size: 1rem;
        font-style: italic;
        font-family: "Gotham Italic 600", sans-serif;
    }
    &__expand-button {
        margin-top: 4rem;
        font-family: 'Montserrat 600', sans-serif;
        background: #d89026;
        color: #fafafa;
        font-size: 1.1rem;
        border-radius: 0.5rem;
        border: none;
        width: 15rem;
        height: 6rem;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;


        &:hover {
            background-color: #fafafa;
            color:#342E2D;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
        }
    }
}

.footer {
    background-color: #f5debb;
    width: 100%;
    height: 17rem;

    &__social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        padding-top: 3rem;
        margin:auto;
    }
}

.fa-brands {
    padding-right: 2rem;
    color: #342E2D;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    
    &:hover {
        color: #d89026;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        transform: scale(1.2);
    }
}

.fa-tiktok, .fa-twitter, .fa-github, .fa-pinterest-p, .fa-facebook-f{
    font-size: 2rem;
}

.fa-instagram, .fa-youtube {
    font-size: 2.625rem;
}