html, body {
  background-color: #342e2d;
  margin: 0;
  overflow-x: hidden;
}

.page-container {
  background-color: #342e2d;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
