.content {
  margin: auto;
  padding: 8rem 0;
  color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint-sm-down {
    width: 100%;
    padding: 5rem 0;
  }

  &__header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat 600", sans-serif;

    @include breakpoint-sm-down {
      width: 100%;
      font-size: 2.25rem;
      padding-bottom: 0.5rem;
    }
  }
  &__content {
    width: 50%;
    padding: 4rem 0 5rem 0;
    margin: auto;
    text-align: center;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 1rem;

    @include breakpoint-sm-down {
      padding: 2rem;
      font-size: 0.8rem;
    }
  }
  &__quote {
    font-size: 1rem;
    font-style: italic;
    font-family: "Gotham Italic 600", sans-serif;
  }

  &__button-wrapper {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint-sm-down {
      padding-top: 4rem;
    }
  }
  &__expand-button {
    font-family: "Montserrat 600", sans-serif;
    background: #9C691C;
    color: #fafafa;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    width: 15rem;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &:hover {
      background-color: #fafafa;
      color: #342e2d;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
    }
  }
}
