.content {
  margin: auto;
  color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include site-container;
  padding-top: 5rem;

  @include breakpoint-sm-down {
    @include site-container;
    padding-top: 5rem;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat 600", sans-serif;
    @include site-container;
    padding-bottom: 3rem;

    @include breakpoint-sm-down {
      @include site-container;
      font-size: 2.25rem;
      padding-bottom: 2rem;
      margin: 0;
    }
  }

  &__content {
    text-align: center;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 1rem;
    @include site-container;
    padding-bottom: 5rem;

    @include breakpoint-sm-down {
      font-size: 0.8rem;
    }
  }

  &__quote {
    font-size: 1rem;
    font-style: italic;
    font-family: "Gotham Italic 600", sans-serif;
  }

  &__button-wrapper {
    height: 6rem;

    @include site-container;

    padding-bottom: 5rem;

    @include breakpoint-sm-down {
      padding-top: 4rem;
    }
  }

  &__expand-button {
    font-family: "Montserrat 600", sans-serif;
    background: #9C691C;
    color: #fafafa;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    width: 15rem;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &:hover {
      background-color: #fafafa;
      color: #342e2d;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
    }
  }

  &__about-intro {
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }

  &__portrait {
    @include site-container;
    height: 10rem;
    border-radius: 50%;
    margin-top: 3rem;
  }

  &__email {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  &__self-statement {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}