.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;

  @include mid-container;

  @include breakpoint-sm-down {
    @include mid-container;
    margin: 0;
  }

  &__hamburger {
    display: none;

    @include breakpoint-sm-down {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: none;
      background-color: #342e2d;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__hamburger-icon {
    @include breakpoint-sm-down {
      &:active path {
        stroke: #d89026;
      }
    }
  }

  &__x-icon {
    display: none;

    @include breakpoint-sm-down {
      display: none;
      position: fixed;
      color: #fafafa;
      stroke-width: 3px;
      width: 2rem;
      z-index: 2;
      left: 100%;

      &:active {
        color: #342e2d;
      }
    }
  }

  &__logo-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include breakpoint-sm-down {
      display: flex;
      align-items: center;
      margin-left: 0;
      height: none;
    }
  }

  &__logo {
    margin: 1rem;
    height: 4rem;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &:hover {
      transform: rotate(360deg);
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
    }
  }

  &__title a {
    font-size: 1.875rem;
    font-family: "Gotham", sans-serif;
    text-decoration: none;
    color: #fafafa;

    @include breakpoint-sm-down {
      font-size: 1rem;
      width: 100%;
      height: 100%;
    }

    &:visited {
      color: #fafafa;
    }
  }

  &__header-menu {
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    margin: 0;
    padding: 0;
    gap: 5rem;

    @include breakpoint-sm-down {
      display: none;
      position: fixed;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start;
      background-color: #d89026;
      width: 100%;
      top: 0;
      padding-top: 6rem;
    }
  }

  &__menu-items {
    color: #fafafa;
    border: none;
    background: none;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-sm-down {
      margin: 0 0 4rem 2rem;
      padding: unset;
      font-size: 1.5rem;
      width: 100%;
    }
  }

  &__menu-items a {
    color: #fafafa;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &:hover {
      color: #d89026;
    }

    @include breakpoint-sm-down {
      &:hover {
        color: #342e2d;
      }
    }
  }

  &__menu-chev {
    width: 1rem;
    margin-left: 0.5rem;
    fill: #fafafa;

    @include breakpoint-sm-down {
      width: 1.5rem;
    }
  }

  &__menu-accordion>button {
    transition: transform 0.5s ease;

    &:hover svg,
    &:hover {
      transition: transform 0.5s ease;
      fill: #d89026;
      color: #d89026;
    }

    @include breakpoint-sm-down {

      &:hover svg,
      &:hover {
        transition: transform 0.5s ease;
        fill: #342e2d;
        color: #342e2d;
      }
    }
  }

  &__menu-accordion {
    @include breakpoint-sm-down {
      width: 87%;
    }
  }

  &__more-accordion {
    margin-top: 1rem;
    margin-right: 2rem;
    border: 4px solid #fafafa;
    border-radius: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    height: 11rem;
    z-index: 1;
    background-color: #342e2d;

    @include breakpoint-sm-down {
      width: 100%;
      border: unset;
      background-color: #342e2d;
      padding: 0.5rem 0.5rem 0.5rem 3rem;
      border-radius: unset;
      top: 30rem;
    }
  }

  &__accordion-menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 100%;
    padding: 0;
  }

  &__accordion-items a {
    padding-bottom: 3rem;
    text-decoration: none;
    color: #fafafa;
    transition: all 0.2s ease;

    &:hover {
      transition: all 0.2s ease;
      color: #d89026;
    }
  }
}