.card-button {
  max-width: 86rem;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 3rem;
  margin: 9rem 0;

  @include site-container;

  padding-bottom: 5rem;

  @include breakpoint-sm-down {
    width: 70%;
    grid-template-columns: none;
    grid-template-rows: 4fr 4fr 4fr;
  }

  &__items {
    border-radius: 0.5rem;
    background-color: #e4e5e8;
    border-top: 1rem solid #d89026;
    text-decoration: none;
    transition: transform 0.5s ease;

    &:hover {
      transition: transform 0.5s ease;
      transform: translateY(-5px);
    }

    &:hover,
    &:hover svg,
    &:hover span {
      transition: all 0.5s ease;
      color: #d89026;
      fill: #d89026;
    }

    &:hover svg {
      transition: transform 0.5s ease;
      transform: translateX(5px);
    }

    @include breakpoint-sm-down {
      height: 90%;
    }
  }

  &__item-content {
    height: 100%;
  }

  &__image {
    max-width: 100%;
  }

  &__content-wrapper {
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease;
    transition: transform 0.5s ease;
  }

  &__content {
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    color: #342e2d;
    transition: all 0.5s ease;
    padding-bottom: 2.5rem;
  }

  &__image-button-arrow {
    width: 1rem;
    fill: #342e2d;
    padding: 1rem;
    transition: all 0.5s ease;
  }
}